# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.venv/
venv/
*.egg-info/
dist/
build/

# Database
data/*.db

# Personal resume
data/BaseResume.tex
data/BaseCoverLetter.tex


# Generated outputs
outputs/

# OS
.DS_Store
Thumbs.db
data/my_profile.json
